body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: radial-gradient(hsl(218, 100%, 3%), hsl(218, 100%, 10%));
}

label {
    color: aliceblue;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blob-1 {
    position: fixed;
    border-radius: 70% 30% 30% 70% / 60% 40% 48% 45%;
}

.blob-container-1 {
    animation-duration: 20s;
    animation-name: blobpulse;
    animation-iteration-count: infinite;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container.hide {
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: 50%;
    max-height: 500px;
    min-height: 300px;
    border: 5px solid white;
    border-radius: 50%;
}

#modal-button {
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes blobpulse {
    from {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(-3px, 0px);
    }

    40% {
        transform: translate(0px, 5px);
    }

    60% {
        transform: translate(-4px, 2px);
    }

    80% {
        transform: translate(0px, -1px);
    }

    to {
        transform: translate(0px, 0px);
    }
}